*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-family: monospace;
  padding: 1rem;
  color: #2020208a;
  text-transform: uppercase;
}
.dados{
  width: 100%;
  max-width: 400px;
}
.set-block{
  background-color: #ddd;
  list-style: none;
  padding: 1rem;
  text-transform: uppercase;
}
.set-block h3{
  font-size: 1rem;
  color: royalblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  padding: 1rem;
}
.set-block p{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: .3rem 1rem;
  font-size: .8rem;
  color: #2020208a;
}